<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <meta http-equiv="refresh" content="10;url=http://localhost:5000/swiped2" /> -->
    <title>Welcome!</title>
    <link href="{{ url_for('static',filename='styles/styler.css') }}"rel="stylesheet">
	<link href="{{ url_for('static',filename='styles/bootstrap-4.0.0.css') }}"rel="stylesheet">

  	<link href="https://fonts.googleapis.com/css?family=Thasadith|Work+Sans" rel="stylesheet">
  </head>
<body>

<svg viewbox="0 0 386.96 233.51" xmlns="http://www.w3.org/2000/svg" style="width:20%; position: absolute; right:0; top:0">
	<defs>
		<style>
		.cls-1{fill:#fbb042;}.cls-2{fill:#3d4161;}.cls-3{fill:#292d40;}.cls-4{fill:#010101;opacity:0.1;}.cls-5{font-size:73px;fill:#231f20;font-family:Base9SansOT-Bold, "Base 9 Sans OT";font-weight:700;}.cls-6{fill:none;stroke:#231f20;stroke-miterlimit:10;}
		</style>
	</defs>
	<title>Untitled-1</title>
	<g data-name="Layer 1" id="Layer_1">
		<g id="Hat">
			<path class="cls-1" d="M439.65,581c1.56-35.29-2.42-58.15-11.84-68-4.15-4.32-8-4.56-8.77-4.52l0,9a10.27,10.27,0,0,1,2.21,1.75c3.46,3.59,11.29,16.77,9.32,61.28,0,0-10.05,2.26-5.53,26.36,0,0,4-1.51,11.05-4S444.16,587.66,439.65,581Z" transform="translate(-113.95 -387.54)"></path>
			<polyline class="cls-2" points="208.6 194.25 386.96 106.66 208.6 19.07"></polyline>
			<polygon class="cls-2" points="207.77 19.51 207.77 193.9 208.6 194.25 208.6 19.07 207.77 19.51"></polygon>
			<path class="cls-2" d="M321.72,493v80h83.42V504.72C376.29,496.06,347.44,493.11,321.72,493Z" transform="translate(-113.95 -387.54)"></path>
			<path class="cls-3" d="M321.72,558.11V588c46.44-.37,83.42-6.91,83.42-14.92S368.16,558.48,321.72,558.11Z" transform="translate(-113.95 -387.54)"></path>
			<path class="cls-4" d="M321.72,493v25.44c21.68-2.07,49-2,83.42,1.22v-15C376.29,496.06,347.44,493.11,321.72,493Z" transform="translate(-113.95 -387.54)"></path>
		</g>
		<text x="-113.95" y="-387.54"></text>
		<text x="-113.95" y="-387.54"></text>
	</g>
	<g data-name="Layer 2" id="Layer_2">
		<text class="cls-5" id="text" transform="translate(41.88 98.9)">
			ACA
			<tspan x="-40.59" y="87.6">
				DESK
			</tspan>
		</text>
		<line class="cls-6" id="midline" x1="193.94" x2="193.94" y2="233.51"></line>
	</g></svg>

    <div class="row" style="margin-top: 1%; margin-left: 1%">
        <div class="col-lg-6">
            <h1 style="font-family:'Thasadith', sans-serif; font-size: 100px">Hi, {{ name[0][1] }}.</h1>
            <h3 style="font-family:'Thasadith', sans-serif;">Here's what your schedule looks like for today.</h3>
        </div>
    </div>
    <div class="row" style="padding-top:5%">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <table id="schedule" style="background-color:white; width:100%">
                <tr>
                    <th>Class</th>
                    <th>Time</th>
                    <th>Upcoming Tests</th>
                    <th>Upcoming HW</th>
                </tr>
                {% for x in sched %}
                <tr>
                {% for y in x %}
                    <td>{{ y }}</td>
                {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <script src="{{ url_for('static',filename='jquery-3.2.1.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='popper.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-4.0.0.js' ) }}"></script>
</body>
</html>